In [1]:
import requests
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime as dt
import matplotlib.ticker as ticker
import matplotlib.animation as animation
from IPython.display import HTML
import matplotlib
matplotlib.rcParams['animation.embed_limit']=2**128
import seaborn as sns

API_KEY = 'tYTvFTiccRfj'
PROJECT_TOKEN = 'tRhVHZCkQ_BC'
RUN_TOKEN  = 'tQk29TnXY0u6'

r = requests.get(f'https://www.parsehub.com/api/v2/projects/{PROJECT_TOKEN}/last_ready_run/data', params={'api_key':API_KEY})
#data = json.loads(r.text)

h1=pd.read_csv('H1N1.csv')
h1.head()

    H1N1_Date  H1N1_Closing_price  H1N1_Open_price
0  12/31/2009               79.36            79.54
1  12/30/2009               79.28            78.64
2  12/29/2009               78.87            78.68
3  12/28/2009               78.77            77.92
4  12/24/2009               78.05            76.86

In [ ]:
h1.info()

In [ ]:
plt.bar(h1.H1N1_Date,h1.H1N1_Closing_price);

In [ ]:
h1.sort_values(by=['H1N1_Date'])
h1.head()

In [ ]:
h1.rename(columns={'H1N1_Date': 'Date', 'H1N1_Closing_price': 'Closing_price','H1N1_Open_price': 'Open_price'}, inplace=True)
h1.head()

In [ ]:
h1['Date']=pd.to_datetime(h1.Date)
h1.head()

In [ ]:
h1.info()

In [ ]:
h1.describe()

In [ ]:
h1.sort_values(by='Date',inplace=True)

In [ ]:
h1.reset_index(drop=True,inplace=True)

In [ ]:
h1.head()

In [ ]:
a=h1.Closing_price
b=h1.Open_price


plt.figure(figsize=(10, 4))  
plt.subplot(1, 2, 1)         
plt.plot(a)
plt.plot(b)
plt.subplot(1, 2, 2)
plt.plot(b)

In [ ]:
h2=h1.copy()

In [ ]:

h2['month']=h2.Date.dt.month

h2.head()

In [ ]:
#current_year=2009
#dff=(h2[h2.Date].sort_values(by='Closing_price', ascending=True).head(10))

#fig, ax=plt.subplots(figsize=(15,8))
#ax.barh(dff.Date, dff.Closing_price);

In [ ]:
h2.month.unique()

In [ ]:
dfh1m=pd.read_csv('2007-2012.csv')
dfcom=pd.read_csv('2015-2020.csv')

In [ ]:
dfh1m.head()

In [ ]:
dfcom.head()

In [ ]:
dfh1m.info()

In [ ]:
dfh1m.drop(['Apertura','Máximo','Mínimo','Vol.','% var.'],axis=1,inplace=True)
dfcom.drop(['Apertura','Máximo','Mínimo','Vol.','% var.'],axis=1,inplace=True)

In [ ]:
dfh1m

In [ ]:
dfcom

In [ ]:
dfcom.rename(columns={'Fecha': 'Date', 'Cierre': 'Price'}, inplace=True)
dfh1m.rename(columns={'Fecha': 'Date', 'Cierre': 'Price'}, inplace=True)

In [ ]:
dfcom.sort_values(by='Date',inplace=True)
dfcom.reset_index(drop=True,inplace=True)
dfh1m.sort_values(by='Date',inplace=True)
dfh1m.reset_index(drop=True,inplace=True)

In [ ]:
a=dfh1m.Price
b=dfcom.Price


plt.figure(figsize=(10, 4))  
plt.subplot(1, 2, 1)         
plt.plot(a)
plt.plot(b)
plt.subplot(1, 2, 2)
plt.plot(b)

In [ ]:
plt.plot(dfh1m.Date,dfh1m.Price)

In [ ]:
plt.plot(dfcom.Date,dfcom.Price)

In [ ]:
dfh=pd.read_csv('05.2007-05.2012.csv')
dfc=pd.read_csv('05.2015-05.2020.csv')

In [ ]:
dfh.drop(['Apertura','Máximo','Mínimo','Vol.','% var.'],axis=1,inplace=True)
dfc.drop(['Apertura','Máximo','Mínimo','Vol.','% var.'],axis=1,inplace=True)

dfc.rename(columns={'Fecha': 'Date', 'Cierre': 'Price'}, inplace=True)
dfh.rename(columns={'Fecha': 'Date', 'Cierre': 'Price'}, inplace=True)

In [ ]:
dfc.head()

In [ ]:
dfh.head()

In [ ]:
dfh.info()

In [ ]:
dfc['Date']=pd.to_datetime(dfc.Date)
dfc.reset_index(drop=True,inplace=True)
dfh['Date']=pd.to_datetime(dfh.Date)
dfh.reset_index(drop=True,inplace=True)

In [ ]:
dfc.sort_values(by='Date',inplace=True)
dfc.reset_index(drop=True,inplace=True)
dfh.sort_values(by='Date',inplace=True)
dfh.reset_index(drop=True,inplace=True)

In [ ]:
dfh

In [ ]:
dfc

In [ ]:
dfc.info()

In [ ]:
dft=dfc.copy()

In [ ]:
#bread_group['day']=bread_group.Datetime.dt.day_name()
#bread_group['hour']=bread_group.Datetime.dt.hour
dft['month']=dft.Date.dt.month

In [ ]:
dft.head()

In [ ]:
dft['year']=dft.Date.dt.year

In [ ]:
dft.head()

In [ ]:
current_year=2017
dff=(dft[dft.year.eq(current_year)].sort_values(by='Price', ascending=True))

fig, ax=plt.subplots(figsize=(15,8))
ax.barh(dff.Date, dff.Price);

In [ ]:
'''colors=dict(zip(['2018-01', '2018-03', '2018-05', '2018-07', '2018-09', '2018-10', '2018-12'],
                ['#adb0ff', '#ffb3ff', '#90d595', '#e48381', '#aafbff', '#f7bb5f', '#eafb50']))

group_lk=dft.set_index('Date')['month'].to_dict()

fig, ax = plt.subplots(figsize=(15, 8))
dff = dff[::-1]   

ax.barh(dff['Date'], dff['Price'], color=[colors[group_lk[x]] for x in dff['Date']])

for i, (value, name) in enumerate(zip(dff['Price'], dff['Date'])):
    ax.text(value, i,     name,            ha='right')  
    ax.text(value, i-.25, group_lk[name],  ha='right')  
    ax.text(value, i,     value,           ha='left')   

ax.text(1, 0.4, current_year, transform=ax.transAxes, size=46, ha='right')'''

In [ ]:
dfht=pd.read_csv('05.2007-05.2012.csv')
dfct=pd.read_csv('05.2015-05.2020.csv')

In [ ]:
dfht.info()

In [ ]:
dfht.head()

In [ ]:
plt.figure(figsize=(6,6))

sns.heatmap(dfht.corr(),annot=True);

In [2]:
crude=pd.read_csv('Cushing, OK WTI Spot Price FOB (Dollars per Barrel).csv')
refiner=pd.read_csv('U.S. Crude Oil Composite Acquisition Cost by Refiners (Dollars per Barrel).csv')

In [3]:
crude.tail(1)

         Date  (Dollars per Barrel)
411  Apr-2020                 16.55

In [4]:
refiner.tail()

,Date,U.S. Crude Oil Composite Acquisition Cost by Refiners (Dollars per Barrel)
406,Nov-2019,57.88
407,Dec-2019,60.27
408,Jan-2020,57.94
409,Feb-2020,51.29
410,Mar-2020,32.72

In [5]:
crude.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  412 non-null    object
 1   (Dollars per Barrel)  412 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.6+ KB

In [6]:
crude.drop(crude.tail(1).index,inplace=True)

In [7]:
crude.tail()

         Date  (Dollars per Barrel)
406  Nov-2019                 57.03
407  Dec-2019                 59.88
408  Jan-2020                 57.52
409  Feb-2020                 50.54
410  Mar-2020                 29.21

In [8]:
stocks=pd.read_csv('stocks.csv')
stocks.head()

      Fecha  Cierre  Apertura  Máximo  Mínimo    Vol.   % var.
0  Mar 2020   20.48     43.70   48.66   19.27  16.68M  -54.24%
1  Feb 2020   44.76     51.01   54.50   43.85  13.33M  -13.19%
2  Ene 2020   51.56     61.60   65.65   50.97  12.54M  -15.56%
3  Dic 2019   61.06     55.47   62.34   55.35   9.27M   10.68%
4  Nov 2019   55.17     54.15   58.74   54.07   9.47M    1.83%

In [9]:
stocks.drop(['Apertura','Máximo','Mínimo','Vol.','% var.'],axis=1,inplace=True)

stocks.rename(columns={'Fecha': 'Date', 'Cierre': 'Stocks_price_usd'}, inplace=True)

In [10]:
stocks.head()

       Date  Stocks_price_usd
0  Mar 2020             20.48
1  Feb 2020             44.76
2  Ene 2020             51.56
3  Dic 2019             61.06
4  Nov 2019             55.17

In [24]:
stocks['Date']=stocks.Date.apply(lambda x:x.replace(' ','-'))
stocks.head()

       Date  Stocks_price_usd
0  Mar-2020             20.48
1  Feb-2020             44.76
2  Ene-2020             51.56
3  Dic-2019             61.06
4  Nov-2019             55.17

In [26]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              411 non-null    object
 1   Stocks_price_usd  411 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.5+ KB

In [25]:
stocks['Date']=pd.to_datetime(stocks.Date)
#crude['Year']=crude.Date.dt.year
#crude['Month']=crude.Date.dt.month
#crude.drop(['Date'],axis=1,inplace=True)
stocks.head()

ParserError: Unknown string format: Ene-2020

In [ ]:
stocks.sort_values(by='Date',inplace=True)
stocks.reset_index(drop=True,inplace=True)

In [ ]:
stocks.head()

In [ ]:
stocks.Date[0]

In [ ]:
stocks.Date.str.split()[0]

In [ ]:
stocks['Month']=stocks.Date.apply(lambda x:x.split()[0])
stocks.head()

In [ ]:
stocks['Year']=stocks.Date.apply(lambda x:x.split()[1])
stocks.head()

In [ ]:
stocks.drop(['Date'],axis=1,inplace=True)

In [ ]:
stocks.tail()

In [11]:
crude.head()

       Date  (Dollars per Barrel)
0  Jan-1986                 22.93
1  Feb-1986                 15.46
2  Mar-1986                 12.61
3  Apr-1986                 12.84
4  May-1986                 15.38

In [12]:
crude.rename(columns={'(Dollars per Barrel)': 'Crude_oil_price_usd'}, inplace=True)
crude.head()

       Date  Crude_oil_price_usd
0  Jan-1986                22.93
1  Feb-1986                15.46
2  Mar-1986                12.61
3  Apr-1986                12.84
4  May-1986                15.38

In [13]:
refiner.head()

,Date,U.S. Crude Oil Composite Acquisition Cost by Refiners (Dollars per Barrel)
0,Jan-1986,25.63
1,Feb-1986,19.76
2,Mar-1986,14.80
3,Apr-1986,13.05
4,May-1986,13.05

In [14]:
refiner.rename(columns={'U.S. Crude Oil Composite Acquisition Cost by Refiners (Dollars per Barrel)': 'Refiners_Cost_usd'}, inplace=True)
refiner.head()

       Date  Refiners_Cost_usd
0  Jan-1986              25.63
1  Feb-1986              19.76
2  Mar-1986              14.80
3  Apr-1986              13.05
4  May-1986              13.05

In [15]:
refiner['Date']=pd.to_datetime(refiner.Date)
refiner.head()

        Date  Refiners_Cost_usd
0 1986-01-01              25.63
1 1986-02-01              19.76
2 1986-03-01              14.80
3 1986-04-01              13.05
4 1986-05-01              13.05

In [16]:
refiner.sort_values(by='Date',inplace=True)
refiner.reset_index(drop=True,inplace=True)
refiner.head()

        Date  Refiners_Cost_usd
0 1986-01-01              25.63
1 1986-02-01              19.76
2 1986-03-01              14.80
3 1986-04-01              13.05
4 1986-05-01              13.05

In [18]:
refiner['Year']=refiner.Date.dt.year
refiner.head()

        Date  Refiners_Cost_usd  Year
0 1986-01-01              25.63  1986
1 1986-02-01              19.76  1986
2 1986-03-01              14.80  1986
3 1986-04-01              13.05  1986
4 1986-05-01              13.05  1986

In [19]:
refiner['Month']=refiner.Date.dt.month
refiner.head()

        Date  Refiners_Cost_usd  Year  Month
0 1986-01-01              25.63  1986      1
1 1986-02-01              19.76  1986      2
2 1986-03-01              14.80  1986      3
3 1986-04-01              13.05  1986      4
4 1986-05-01              13.05  1986      5

In [20]:
refiner.drop(['Date'],axis=1,inplace=True)
refiner.head()

   Refiners_Cost_usd  Year  Month
0              25.63  1986      1
1              19.76  1986      2
2              14.80  1986      3
3              13.05  1986      4
4              13.05  1986      5

In [22]:
crude['Date']=pd.to_datetime(crude.Date)
crude['Year']=crude.Date.dt.year
crude['Month']=crude.Date.dt.month
crude.drop(['Date'],axis=1,inplace=True)
crude.head()

   Crude_oil_price_usd  Year  Month
0                22.93  1986      1
1                15.46  1986      2
2                12.61  1986      3
3                12.84  1986      4
4                15.38  1986      5